

.container{
    display: flex;

}
.navBar {
    border: 1px solid black;
}

.mainContainer {
    border: 1px solid black;
    display: flex;
    width: 100%;
}

.mainContainer > .mainP {
    flex-grow: 2;
   
}

@media (max-width: 640px){
    .container{
        flex-direction: column-reverse;
    }
    .navBar{
        display: flex;
        justify-content: space-around;
    }

}




